body{
    width: 100%;
    .menu{
        .burger{
            .show-info{
                background-color: orange;
                color: #fff;
            }
        }
        .info{
            display: none;
        }
        .active{
            display: flex;
        }
    }
}
